{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <table style="width:50%">
                <tr>
                <th>Stock's symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Current value</th>
                    {% for item in portfolio_data %}
                    <tr>
                        <td> {{item['symbol']}} </td>
                        <td> {{item['shares']}} </td>
                        <td> {{item['price']}} </td>
                        <td> {{item['value']}} </td>
                    </tr>
                    {% endfor %}
                </table>
            <p></p>
            <p></p>
            <p></p>
            <p align="left"><strong>Current balance: {{ balance }}</strong></p>
            <p align="left"><strong>Total value of portfolio: {{ total_value }}</strong></p>
        </fieldset>
    </form>
{% endblock %}

